body{background-color: pink;}

nav {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 15px;
}

a {
    color: gray;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img{
    border: 5px solid powderblue;
    height: auto;
    max-width: 30%;
    margin-left: 35%;
}

h1{
    color:darkslateblue;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
}

h2{ 
    font-family: verdana;
    font-size: 100%;
    text-align: center;
}

h3{
    color:darkslateblue;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
}

.hero-button {
    background-color: lightblue;
    color: gray;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: lightseagreen;
}

footer {
    background-color: lightblue;
    color: gray;
    text-align: center;
    font-size: large;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0; 
}

.work {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.event {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid #333;
    background-color: lightgrey;
    border-radius: 5px;
}

.event::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2%;
    width: 2px;
    height: 100%;
    background-color: #333;
    transform: translateX(-50%);
}

.date {
    font-style: italic;
}

.title{
    font-weight: bold;
}

.description {
    margin-top: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
  }
  
  .skills button {
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .skills button:hover {
    background-color: lightseagreen;
  }
  
  .skills button:focus {
    outline: none;
  }